*,*::before, *::after {
    box-sizing: border-box;
}

body {
    font-family:"Poppins", sans-serif;
    margin: 0;
    padding: 1rem;
    line-height: 1.6;
    background-color: honeydew;
}

header, footer {
    text-align: center;
    margin-bottom: 1.5rem;
}

h1 {
    font-size: clamp(1rem, 1.5vw, 2rem);
    color: rgb(27, 27, 26);
}

main {
    display:flex;
    flex-direction: column;
    gap: 2rem;
}

@media (min-width: 800px){
    main {
        flex-direction: row;
        align-items: flex-start;
    }

    form, #preview{
        flex: 1;
    }
}

form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1.2rem;
    background: #627a09b6;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(25, 45, 48, 0.1);
}

label {
    font-weight: 500;
}

input, button {
    padding: 1rem;
    font-size: 1rem;
}

button{
    background-color: rgb(2, 37, 37);
    color: white;
    border: none;
    border-radius: 9px;
    cursor: pointer;
    transition: background 0.5s;
}

#preview {
    border: 2px solid #ddd;
    border-radius: 10px;
    padding: 1rem;
    background-color: bisque;
}

#fruitList {
    list-style-type: none;
    padding: auto;
}

#fruitList li {
    background: bisque;
    margin: 0.5rem 0;
    padding: 1rem;
    border-radius: 10px;
}